div.board-member {
  margin-top: 20px;
  margin-bottom: 30px;
}

h2.board-member-role {
  margin-bottom: 10px;
}

div.board-member-portrait {
  float: left;
  margin-right: 20px;
}

div.board-member-name {
  font-weight: bold;
  font-size: larger;
}

div.board-member-address {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.board-member-phone {

}

div.board-member-email {

}
